body{
background-image: url(imagens/SmartSelect_20240919_110351_Samsung\ Notes.jpg);
background-size: cover;
background-repeat: no-repeat;
padding: 0;
margin: 0;
}

#logo{
    width: 200px;
    height: 30px;

}
.inicio{
    display: flex;
    justify-content: space-between;
}

#login{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#registro{
    background-color: white;
    width: 10px;
    height: 15px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    border: 3px solid transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#cx1{
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 30px;
    
}
.pesquisa{
    display: flex;
    justify-content: center;
}
input{
    background-color: white;
    border: 0 none;
    border-radius: 40px;
    width: 300px;
    border-color: none;
}
input:focus{
    border: 0 none;
}
button{
    background-color: red;
    color:white;
    border: 0 none;
    border-radius: 20px;
}
#observação{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
}